@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --font-serif: Google Sans, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9842 0.0080 98.8765);
  --foreground: oklch(0.3522 0.0361 94.6795);
  --card: oklch(0.9842 0.0080 98.8765);
  --card-foreground: oklch(0.2174 0.0019 106.5582);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2752 0.0277 98.8574);
  --primary: oklch(0.4597 0.0800 187.7662);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9281 0.0194 90.5478);
  --secondary-foreground: oklch(0.4403 0.0255 98.5224);
  --muted: oklch(0.9377 0.0210 88.7225);
  --muted-foreground: oklch(0.6087 0.0104 100.0931);
  --accent: oklch(0.9281 0.0194 90.5478);
  --accent-foreground: oklch(0.2752 0.0277 98.8574);
  --destructive: oklch(0.2174 0.0019 106.5582);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8872 0.0095 100.0000);
  --input: oklch(0.7679 0.0225 98.2043);
  --ring: oklch(0.4597 0.0800 187.7662);
  --chart-1: oklch(0.5319 0.1313 244.0497);
  --chart-2: oklch(0.8253 0.1706 79.9391);
  --chart-3: oklch(0.6198 0.1295 165.4589);
  --chart-4: oklch(0.6600 0.2313 13.5907);
  --chart-5: oklch(0.6766 0.1629 347.8532);
  --radius: 0.5rem;
  --sidebar: oklch(0.9687 0.0106 100.8218);
  --sidebar-foreground: oklch(0.3621 0.0084 106.8122);
  --sidebar-primary: oklch(0.8821 0.0790 61.5508);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9281 0.0194 90.5478);
  --sidebar-accent-foreground: oklch(0.3250 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Google Sans, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2679 0.0036 106.6427);
  --foreground: oklch(0.8111 0.0201 90.5714);
  --card: oklch(0.2679 0.0036 106.6427);
  --card-foreground: oklch(0.9842 0.0080 98.8765);
  --popover: oklch(0.3085 0.0035 106.6039);
  --popover-foreground: oklch(0.9235 0.0067 106.5298);
  --primary: oklch(0.5398 0.0946 186.2282);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9842 0.0080 98.8765);
  --secondary-foreground: oklch(0.3085 0.0035 106.6039);
  --muted: oklch(0.2213 0.0038 106.7070);
  --muted-foreground: oklch(0.7771 0.0238 98.7279);
  --accent: oklch(0.2254 0.0113 99.4186);
  --accent-foreground: oklch(0.9687 0.0106 100.8218);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3650 0.0134 107.0435);
  --input: oklch(0.4373 0.0162 97.7185);
  --ring: oklch(0.5398 0.0946 186.2282);
  --chart-1: oklch(0.5319 0.1313 244.0497);
  --chart-2: oklch(0.8253 0.1706 79.9391);
  --chart-3: oklch(0.6198 0.1295 165.4589);
  --chart-4: oklch(0.6600 0.2313 13.5907);
  --chart-5: oklch(0.6766 0.1629 347.8532);
  --radius: 0.5rem;
  --sidebar: oklch(0.2357 0.0024 67.7077);
  --sidebar-foreground: oklch(0.8111 0.0201 90.5714);
  --sidebar-primary: oklch(0.3250 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2210 0.0057 106.8574);
  --sidebar-accent-foreground: oklch(0.8111 0.0201 90.5714);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Google Sans, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Azeret Mono, ui-monospace, monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
  }
}